.page-principale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: #333;
    margin-bottom: 20px;
}